@font-face {
  font-family: "Helvetica Neue Light";
  src: url("../fonts/helvetica_neue-light-100x90_pcent.eot");
  src: local("Helvetica Neue Light"), local("HelveticaNeue-Light"), url("../fonts/helvetica_neue-light.svg#hnl") format("svg"), url("../fonts/helvetica_neue-light.ttf") format("truetype");
}
body {
  background: white;
  color: black;
  font-family: Palatino, "Book Antiqua", Baskerville, Georgia, Times, "Times New Roman", serif;
  font-size: 100%;
  line-height: 1.5em;
  margin: 8px 16px;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
  color: inherit;
}
h1 a:hover,
h1 a:active,
h1 a:focus,
h2 a:hover,
h2 a:active,
h2 a:focus,
h3 a:hover,
h3 a:active,
h3 a:focus,
h4 a:hover,
h4 a:active,
h4 a:focus,
h5 a:hover,
h5 a:active,
h5 a:focus,
h6 a:hover,
h6 a:active,
h6 a:focus {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.25em;
}
h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
  margin-top: 0;
}
a.section_anchor {
  visibility: hidden;
  margin-left: 0.5em;
  font-size: 80%;
  position: relative;
  top: -0.15em;
}
a.section_anchor:before {
  content: "\00B6";
}
h1:hover a.section_anchor,
h2:hover a.section_anchor,
h3:hover a.section_anchor,
h4:hover a.section_anchor,
h5:hover a.section_anchor,
h6:hover a.section_anchor {
  visibility: visible;
  color: #cccccc;
  text-decoration: none;
}
h1:hover a.section_anchor:hover,
h2:hover a.section_anchor:hover,
h3:hover a.section_anchor:hover,
h4:hover a.section_anchor:hover,
h5:hover a.section_anchor:hover,
h6:hover a.section_anchor:hover {
  color: #3333cc;
  text-decoration: none;
}
article > header h1 {
  margin-bottom: 0;
}
section.comments {
  margin-top: 3em;
}
code,
tt {
  font-family: Menlo, "DejaVu Sans Mono", Monaco, Courier, "Courier New", monospace;
  font-size: 0.9em;
  letter-spacing: 1.1pt;
  word-wrap: break-word;
  white-space: pre-wrap;
}
li code,
p code,
li tt,
p tt {
  background-color: #f4f4f4;
  padding: 0 0.25em;
}
pre {
  margin-left: 1.5em;
  line-height: 1.75em;
}
pre.source {
  counter-reset: line;
  white-space: normal;
  margin-top: 1.5em;
  margin-left: 0;
  margin-right: 0;
  border: 1px solid #eeeeee;
  border-radius: 8px;
}
pre.source code:before {
  counter-increment: line;
  content: counters(line, "");
  float: left;
  width: 2.25em;
  margin-left: -3.5em;
  text-align: right;
  color: #dddddd;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
pre.source code {
  display: block;
  overflow: hidden;
  padding-left: 3.5em;
  padding-right: 1em;
  background-color: #f9f9f9;
}
pre.source code:nth-child(odd) {
  background-color: #fcfcfc;
}
pre.source code.hll {
  background-color: #fbfbd4;
}
pre.source code.hll:nth-child(odd) {
  background-color: #ffffde;
}
pre.source code.hll:before {
  color: #e4e4b6;
}
pre.source strong {
  font-weight: normal;
}
pre.source code:first-child {
  padding-top: 0.25em;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
pre.source code:last-child {
  padding-bottom: 0.25em;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
li p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
li p + p:last-child {
  margin-bottom: 1em;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
section.posts article time,
article header p {
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 95%;
}
ul.projects li {
  margin-bottom: 0.25em;
}
a.userscript {
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-image: url(/assets/icon-userscript-22dbfac6871bba9d24ea422b99265604.png);
  padding-left: 20px;
}
body > header {
  display: block;
  font-size: 95%;
}
body > header > hgroup {
  display: inline-block;
  font-weight: normal;
  margin-right: 0.5em;
  margin-bottom: 0.75em;
}
body > header > hgroup a {
  color: inherit;
}
body > header > hgroup a,
body > header > hgroup a:hover,
body > header > hgroup a:active,
body > header > hgroup a:focus {
  text-decoration: none;
}
body > header > hgroup h1 {
  margin: 0;
  font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-transform: scale(1, 0.9);
  -moz-transform: scale(1, 0.9);
  transform: scale(1, 0.9);
  font-weight: 200;
  font-size: 3.7em;
  text-transform: lowercase;
  line-height: 0.95em;
  letter-spacing: 0.08em;
}
body > header > hgroup h1 span.space {
  display: none;
}
body > header > hgroup h1 span.codes {
  color: #999999;
}
body > header > hgroup h2 {
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  color: #333333;
  letter-spacing: 0.25em;
  text-transform: lowercase;
  float: right;
  border-top: 0.125em solid #dddddd;
  margin-right: 0.42em;
  padding-left: 0em;
  line-height: 1em;
  white-space: nowrap;
}
body > header > hgroup h2 span.period {
  visibility: hidden;
  margin: -0.4em;
}
body > header > aside {
  display: inline-block;
  position: relative;
  top: -0.15em;
  font-family: Georgia;
  font-size: 1.15em;
  letter-spacing: 0.15em;
  word-spacing: 0.3em;
  color: #868c8f;
}
body > header > aside strong {
  font-weight: normal;
}
body > header > aside .amp {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
}
body > header > aside .who,
body > header > aside .what {
  font-family: Optima, "Trebuchet MS";
  font-size: 1.15em;
  color: #444444;
  word-spacing: 0;
  white-space: nowrap;
}
body > header > aside .period {
  display: none;
}
body > header > aside a {
  text-decoration: none;
  color: inherit;
}
body > header > aside a:hover,
body > header > aside a:active,
body > header > aside a:focus {
  text-decoration: underline;
}
body > header > ul.links {
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
  list-style: none;
  display: inline-block;
  position: absolute;
  top: 1em;
  right: 1em;
  line-height: normal;
}
body > header > ul.links,
body > header > ul.links li {
  margin: 0;
  padding: 0;
}
body > header > ul.links a {
  display: block;
  margin-top: 0.5em;
  padding-left: 20px;
  text-decoration: none;
  color: inherit;
  color: #aaaaaa;
}
body > header > ul.links a:hover,
body > header > ul.links a:active,
body > header > ul.links a:focus {
  text-decoration: underline;
}
body > header > ul.links span.name {
  display: block;
  color: #888888;
  font-size: 90%;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  margin-left: -20px;
  padding-left: 20px;
}
body > header > ul.links span.suffix {
  display: block;
  color: #cccccc;
  font-size: 85%;
}
body > header > ul.links li.twitter span.name {
  background-image: url(/assets/link-twitter-ffeb7f6709158ee4a45b72ad702c32db.png);
}
body > header > ul.links li.github span.name {
  background-image: url(/assets/link-github-d0abe1cc385a90aab8470b89bcfd2631.png);
}
body > header > ul.links li.stackoverflow span.name {
  background-image: url(/assets/link-stackoverflow-a74c222a749bb3d8b400332fc4832d5b.png);
}
#dsq-content {
  font-size: 95% !important;
}
#dsq-content .dsq-request-user-name small {
  font-size: 65% !important;
}
#dsq-content a.dsq-commenter-name:hover {
  text-decoration: underline;
}
#dsq-content #dsq-subscribe {
  font-size: 80%;
}
#dsq-content #dsq-subscribe:before {
  content: "Comment thread:";
  float: left;
  color: #444444;
  padding-right: 1em;
}
#dsq-content .dsq-comment-meta a,
#dsq-content .dsq-comment-actions a {
  color: #888888;
  opacity: 1;
  text-decoration: none;
}
#dsq-content .dsq-comment-meta a:hover,
#dsq-content .dsq-comment-actions a:hover {
  text-decoration: underline;
}
#dsq-content .dsq-comment:hover .dsq-comment-meta a,
#dsq-content .dsq-comment:hover .dsq-comment-actions a {
  text-decoration: underline;
}
@media only screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: none;
    margin: 2px 8px;
  }
  body > header > hgroup {
    font-size: 85%;
  }
  body > header > aside {
    font-size: 80%;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  body > header > ul.links {
    top: 2px;
  }
}
@media only screen and (max-width: 320px), only screen and (device-width: 768px) and (orientation: portrait) {
  body > header > ul.links {
    position: static;
  }
  body > header > ul.links li {
    display: inline-block;
    margin-right: 0.5em;
    font-size: 90%;
  }
}
